@font-face {
    font-family: PacMan; /*a name to be used later*/
    src: url("../PAC-FONT.TTF"); /*URL to font*/
}

html, body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    color: yellow;
    background-color: black;
    font-family: "Calibri Light", serif;
    text-align: center;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}
.cssload-container{
    background:rgba(0,0,0, 0.2);
}

.cssload-container div {
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: rgba(0,0,0, 0.0);
    top: 45%;
    border-radius: 50%;
}
#Loading {
    font-family: PacMan;
    color: yellow;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cssload-container div:nth-child(1) {
    background-image:url(../resc/ghosts/blinky/blinky_r32.png);
    animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(2) {
    background-image:url(../resc/ghosts/pinky/pinky_r32.png);
    animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(3) {
    background-image:url(../resc/ghosts/inky/inky_r32.png);
    animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.cssload-container div:nth-child(4) {
    background-image:url(../resc/ghosts/clyde/clyde_r32.png);
    animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -o-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -ms-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -webkit-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    -moz-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}



@keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-o-keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-ms-keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@-moz-keyframes cssload-move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}
#navdiv{
    margin-top: 5%;
}
#navigation{
    border: 5px solid yellow;
    color:yellow;
    font-family: PacMan, serif;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
    cursor: pointer;  width: 200px;
    font-size: 2rem;
}
#highscorehtml {
    display: none;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
#scoretable {
    margin-left: auto;
    margin-right: auto;
}
#scoretable td{
    width: 200px;
    height: 50px;
}
#head {
    font-family: PacMan, serif;
    font-size: 2rem;
}