@media screen and (orientation:portrait) {

    @font-face {
        font-family: PacMan; /*a name to be used later*/
        src: url("../PAC-FONT.TTF"); /*URL to font*/
    }

    @font-face {
        font-family: Retro;
        src: url("../Retro Computer_DEMO.ttf");
    }

    a:-webkit-any-link {
        color: -webkit-link;
        text-decoration: none;
        cursor: auto;
    }
    /*--LoadingAnimation--*/
    .cssload-container{
        background:rgba(0,0,0, 0.2);
    }

    .cssload-container div {
        width: 32px;
        height: 32px;
        position: absolute;
        background-color: rgba(0,0,0, 0.0);
        top: 45%;
        border-radius: 50%;
    }
    #Loading {
        font-family: PacMan;
        color: yellow;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cssload-container div:nth-child(1) {
        background-image:url(../resc/ghosts/blinky/blinky_r32.png);
        animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -o-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -ms-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -webkit-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -moz-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }

    .cssload-container div:nth-child(2) {
        background-image:url(../resc/ghosts/pinky/pinky_r32.png);
        animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -o-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -ms-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -webkit-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -moz-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }

    .cssload-container div:nth-child(3) {
        background-image:url(../resc/ghosts/inky/inky_r32.png);
        animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -o-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -ms-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -webkit-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -moz-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }

    .cssload-container div:nth-child(4) {
        background-image:url(../resc/ghosts/clyde/clyde_r32.png);
        animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -o-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -ms-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -webkit-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -moz-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }



    @keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @-o-keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @-ms-keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @-webkit-keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @-moz-keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    /*--StartScreen--*/
    .start {
        width: 100%;
        height: 100%;
        -webkit-background-size:cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: black url("../resc/backgrounds/mPortrait.png") no-repeat center;
        position: fixed;
        font-weight: bold;
        text-align: center;
    }

    #error {
        display:none;
        position: absolute;
        top:50%;
        left:50%;
        margin-top: -300px;
        margin-left: -300px;
        background-image: url("../resc/other/pacmanErr.png");
        width: 600px;
        height: 600px;
    }

    .start.close {
        display: none;
    }

    #startlayout {
        margin-top: 50%;
    }

    #startText {
        display:none;
        position: absolute;
        width: auto;
        margin: 0 auto;
        left: 45%;
        bottom: 25%;
        letter-spacing: 3px;
        font-family: PacMan, serif;
        font-size: 2rem;
    }

    #startButton {
        border: 5px solid yellow;
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        width: 150px;
        margin: 0 auto;
        font-size: 2rem;
    }

    #about {
        border: 5px solid yellow;
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        width: 150px;
        margin: 0 auto;
        font-size: 2rem;
    }

    #highscore {
        border: 5px solid yellow;
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        width: 300px;
        margin: 0 auto;
        font-size: 2rem;
    }
    /*--HighscoreScreen--*/
    #navdiv{
        margin-top: 5%;
    }
    #navigation{
        border: 5px solid yellow;
        color:yellow;
        font-family: PacMan, serif;
        border-radius: 20px;
        padding: 3px 3px 3px 3px;
        cursor: pointer;  width: 200px;
        font-size: 2rem;
    }
    #highscorehtml {
        display: none;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    #scoretable {
        margin-left: auto;
        margin-right: auto;
    }
    #scoretable td{
        width: 200px;
        height: 50px;
    }
    #head {
        font-family: PacMan, serif;
        font-size: 2rem;
    }

    /*--AboutScreen--*/
    #navigation{
        border: 5px solid yellow;
        color:yellow;
        font-family: PacMan, serif;
        border-radius: 20px;
        padding: 3px 3px 3px 3px;
        cursor: pointer;  width: 200px;
        font-size: 2rem;
        margin-top: 10%;
    }
    h1 {
        font-family: PacMan, serif;
    }
    h2 {
        font-family: PacMan, serif;
        margin-bottom: 2%;
    }
    p{
        margin-bottom: 4%;
    }

    /*--GameScreen--*/
    #footer, .header, .messages {
        display: none;
    }
    #overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,0.50);
        text-align: center;
        color: red;
        font-family: PacMan, serif;
        font-weight: bold;
        font-size: 2rem;
        z-index: +1;
    }
    span {
        margin-top: 50%;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    #startNext{
        color: yellow;
        cursor: pointer;  width: auto;
        border: 5px solid yellow;
        border-radius: 10px;
        padding: 2px 2px 2px 2px;
    }

    #userinput {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right:auto;
        font-size: 1.5rem;
        margin-bottom: 45%;
        visibility: hidden;
    }
    #scorelist {
        font-family: Retro, serif;
        height:100%;
        margin-top:10%;
        margin-bottom: 45%;
        font-weight: bold;
    }

    .game {
        position: fixed;
        height: 100%;
        margin: 0 auto;
        display: none;
    }

    #labyrinth td {
        background-color: black;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: 32px 32px;
    }

    #labyrinth {
        border-collapse: separate;
        border: 5px solid yellow;
    }

    #information {
        border-collapse: separate;
        border: 5px solid yellow;
        font-family: PacMan, serif;
        font-size: 2rem;
    }

    #information td {
        background-color: black;
        width: 10%;
    }


    #value1, #value2, #value3, #value4 {
        font-family: Retro,serif;
    }

    /*--keys for mobile version--*/
    #keylayout {
        margin-right: auto;
        margin-left: auto;
    }

    .mobile.hide {
        visibility: hidden;
    }

    .mobile {
        display: none;
    }

    .mobile td {
        background-color: black;
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: 80px 80px;
    }

    .mobileBlank {
        background-image: url(../resc/mobilekeys/mobileBlank.png);
    }

    #mobileUp {
        background-image: url(../resc/mobilekeys/mobileUp.png);
    }

    #mobileDown {
        background-image: url(../resc/mobilekeys/mobileDown.png);
    }

    #mobileLeft {
        background-image: url(../resc/mobilekeys/mobileLeft.png);
    }

    #mobileRight {
        background-image: url(../resc/mobilekeys/mobileRight.png);
    }
    #mobilePause {
        background-image: url(../resc/mobilekeys/mobilePause.png);
    }
}


@media screen and (orientation:landscape) {
    @font-face {
        font-family: PacMan; /*a name to be used later*/
        src: url("../PAC-FONT.TTF"); /*URL to font*/
    }
    @font-face {
        font-family: Retro;
        src: url("../Retro Computer_DEMO.ttf");
    }
    a:-webkit-any-link {
        color: -webkit-link;
        text-decoration: none;
        cursor: auto;
    }

    /*--LoadingAnimation--*/
    .cssload-container{
        background:rgba(0,0,0, 0.2);
    }

    .cssload-container div {
        width: 32px;
        height: 32px;
        position: absolute;
        background-color: rgba(0,0,0, 0.0);
        top: 45%;
        border-radius: 50%;
    }
    #Loading {
        font-family: PacMan;
        color: yellow;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cssload-container div:nth-child(1) {
        background-image:url(../resc/ghosts/blinky/blinky_r32.png);
        animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -o-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -ms-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -webkit-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -moz-animation: cssload-move 2.3s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }

    .cssload-container div:nth-child(2) {
        background-image:url(../resc/ghosts/pinky/pinky_r32.png);
        animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -o-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -ms-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -webkit-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -moz-animation: cssload-move 2.3s 172.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }

    .cssload-container div:nth-child(3) {
        background-image:url(../resc/ghosts/inky/inky_r32.png);
        animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -o-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -ms-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -webkit-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -moz-animation: cssload-move 2.3s 345ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }

    .cssload-container div:nth-child(4) {
        background-image:url(../resc/ghosts/clyde/clyde_r32.png);
        animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -o-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -ms-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -webkit-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        -moz-animation: cssload-move 2.3s 517.5ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }



    @keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @-o-keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @-ms-keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @-webkit-keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    @-moz-keyframes cssload-move {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }

    /*--StartScreen--*/
    .start {
        width: 100%;
        height: 100%;
        -webkit-background-size:cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: black url("../resc/backgrounds/mLandscape.png") no-repeat center;
        position: fixed;
        font-weight: bold;
        text-align: center;
    }
    #startlayout {
        margin-top: 20%;
    }
    #error {
        display:none;
        position: absolute;
        top:50%;
        left:50%;
        margin-top: -300px;
        margin-left: -300px;
        background-image: url("../resc/other/pacmanErr.png");
        width: 600px;
        height: 600px;
    }
    .start.close {
        display: none;
    }
    #startText {
        display: none;
        position: absolute;
        width: auto;
        margin: 0 auto;
        left: 45%;
        bottom: 25%;
        letter-spacing: 3px;
        font-family: PacMan, serif;
        font-size: 2rem;
    }

    #startButton {
        border: 5px solid yellow;
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        width: 150px;
        margin: 0 auto;
        font-size: 2rem;
    }

    #about {
        border: 5px solid yellow;
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        width: 150px;
        margin: 0 auto;
        font-size: 2rem;
    }

    #highscore {
        border: 5px solid yellow;
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        width: 300px;
        margin: 0 auto;
        font-size: 2rem;
    }

    /*--HighscoreScreen--*/
    #navdiv{
        margin-top: 5%;
    }
    #navigation{
        border: 5px solid yellow;
        color:yellow;
        font-family: PacMan, serif;
        border-radius: 20px;
        padding: 3px 3px 3px 3px;
        cursor: pointer;  width: 200px;
        font-size: 2rem;
    }
    #highscorehtml {
        display: none;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    #scoretable {
        margin-left: auto;
        margin-right: auto;
    }
    #scoretable td{
        width: 200px;
        height: 50px;
    }
    #head {
        font-family: PacMan, serif;
        font-size: 2rem;
    }

    /*--AboutScreen--*/
    #navigation{
        border: 5px solid yellow;
        color:yellow;
        font-family: PacMan, serif;
        border-radius: 20px;
        padding: 3px 3px 3px 3px;
        cursor: pointer;  width: 200px;
        font-size: 2rem;
        margin-top: 10%;
    }
    h1 {
        font-family: PacMan, serif;
    }
    h2 {
        font-family: PacMan, serif;
        margin-bottom: 2%;
    }
    p{
        margin-bottom: 4%;
    }

    /*--GameScreen--*/
    #footer, .header, .messages, #nextLevel {
        display: none;
    }


    #overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        background-color: rgba(0, 0, 0, 0.50);
        text-align: center;
        color: red;
        font-family: PacMan, serif;
        font-weight: bold;
        font-size: 3rem;
        z-index: +3;
    }

    span {
        /*margin-top: 20%;*/
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    #gameend{
        margin-top:20%;
    }
    #startNext{
        margin-top:5%;
        color: yellow;
        cursor: pointer;  width: auto;
        border: 5px solid yellow;
        border-radius: 10px;
        padding: 2px 2px 2px 2px;
    }
    #userinput {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right:auto;
        font-size: 1.5rem;
        margin-bottom: 45%;
        visibility: hidden;
    }
    #scorelist {
        font-family: Retro, serif;
        height:100%;
        margin-top:10%;
        margin-bottom: 45%;
        font-weight: bold;
        font-size: 0.8rem
    }

    .game {
        position: fixed;
        height: 100%;
        margin: 0 auto;
        display: none;
    }

    #labyrinth td {
        width: 16px;
        height: 16px;
        background: black no-repeat;
        background-size: 16px 16px;
    }

    #labyrinth {
        border-collapse: separate;
        border: 5px solid yellow;
        float:left;
    }

    #information {
        border-collapse: separate;
        border: 5px solid yellow;
        font-family: PacMan, serif;
        font-size: 2rem;
        float:left;
    }
    #information td {
        background-color: black;
        width: 10%;
    }
    #value1, #value2, #value3, #value4 {
        font-family: Retro, serif;
    }
    #backbutton{
        display: none;
        position: absolute;
        bottom:20%;
        right:5%;
        margin-left:auto;
        margin-right:auto;
    }


    /*--MobileKeys--*/
    .mobile {
        position:fixed;
        height: 0;
        right: 5%;
        top: 5%;
        display: none;
    }

    .mobile td {
        background-color: black;
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: 80px 80px;
    }

    .mobileBlank {
        background-image: url(../resc/mobilekeys/mobileBlank.png);
    }

    #mobileUp {
        background-image: url(../resc/mobilekeys/mobileUp.png);
    }

    #mobileDown {
        background-image: url(../resc/mobilekeys/mobileDown.png);
    }

    #mobileLeft {
        background-image: url(../resc/mobilekeys/mobileLeft.png);
    }

    #mobileRight {
        background-image: url(../resc/mobilekeys/mobileRight.png);
    }
    #mobilePause {
        background-image: url(../resc/mobilekeys/mobilePause.png);
    }
}