@media screen and (orientation:portrait) {
    /*--Pac-Man Font--*/
    @font-face {
        font-family: PacMan; /*a name to be used later*/
        src: url("../PAC-FONT.TTF"); /*URL to font*/
    }
    html, body {
        margin: 0;
        height: 100%;
        color: yellow;
        background-color: black;
        font-family: PacMan, serif;
        text-align: center;
    }
    a:-webkit-any-link {
        color: -webkit-link;
        text-decoration: none;
        cursor: auto;
    }
    #backbutton{
        margin-left:auto;
        margin-right:auto;
    }
    #navigation{
        border: 5px solid yellow;
        color:yellow;
        font-family: PacMan, serif;
        border-radius: 20px;
        padding: 3px 3px 3px 3px;
        cursor: pointer;  width: 200px;
        font-size: 2rem;
        margin-top: 10%;
    }
    h1 {
        font-family: PacMan, serif;
    }
    h2 {
        font-family: PacMan, serif;
        margin-bottom: 2%;
    }
    p{
        font-family: "Calibri Light", serif;
        margin-bottom: 4%;
    }
    /*--StartScreen--*/
    .start {
        width: 100%;
        height: 100%;
        -webkit-background-size:cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: black url("../resc/mPortrait.png") no-repeat center;
        position: fixed;
        font-weight: bold;
        text-align: center;
    }

    .start.close {
        display: none;
    }

    #startText {
        display:none;
        position: absolute;
        width: auto;
        margin: 0 auto;
        left: 45%;
        bottom: 25%;
        letter-spacing: 3px;
        font-family: PacMan, serif;
        font-size: 2rem;
    }

    #startButton {
        position: absolute;
        border: 5px solid yellow;
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        width: 150px;
        margin: 0 auto;
        left: 45%;
        bottom: 55%;
        font-size: 2rem;
    }
    #about {
        position: absolute;
        left: 45%;
        bottom: 45%;
        border: 5px solid yellow;
        color:yellow;
        border-radius: 20px;
        padding: 3px 3px 3px 3px;
        cursor: pointer;  width: 200px;
        font-size: 2rem;
    }

    #highscore {
        position: absolute;
        left: 40%;
        bottom: 50%;
        border: 5px solid yellow;
        color:yellow;
        border-radius: 20px;
        padding: 3px 3px 3px 3px;
        cursor: pointer;  width: 300px;
        font-size: 2rem;
    }

    /*--Game--*/
    #footer, .header, .messages {
        display: none;
    }
    #overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,0.50);
        text-align: center;
        color: red;
        font-family: PacMan, serif;
        font-weight: bold;
        font-size: 2rem;
        z-index: +1;
    }
    span {
        margin-top: 50%;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    #startNext{
        color: yellow;
        cursor: pointer;  width: auto;
        border: 5px solid yellow;
        border-radius: 10px;
        padding: 2px 2px 2px 2px;
    }
    #startNext.hide {
        display: none;
    }
    #userinput {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right:auto;
        font-size: 1.5rem;
        margin-bottom: 45%;
        visibility: hidden;
    }
    .game.show {
        display: block
    }

    .game {
        position: fixed;
        height: 100%;
        margin: 0 auto;
        display: block;
    }

    #labyrinth td {
        background-color: black;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: 32px 32px;
    }

    #labyrinth {
        border-collapse: separate;
        border: 5px solid green;
    }

    #information {
        border-collapse: separate;
        border: 5px solid yellow;
        font-family: PacMan, serif;
        font-size: 2rem;
    }

    #information td {
        background-color: black;
        width: 15%;
    }


    #value1, #value2, #value3 {
        font-family: "Calibri Light",serif;
    }
    /*--keys for mobile version--*/
    #keylayout {
        margin-right: auto;
        margin-left: auto;
    }

    .mobile.hide {
        visibility: hidden;
    }

    .mobile {
        display: block;
    }

    .mobile td {
        background-color: black;
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: 80px 80px;
    }

    .mobileBlank {
        background-image: url(../resc/mobileBlank.png);
    }

    #mobileUp {
        background-image: url(../resc/mobileUp.png);
    }

    #mobileDown {
        background-image: url(../resc/mobileDown.png);
    }

    #mobileLeft {
        background-image: url(../resc/mobileLeft.png);
    }

    #mobileRight {
        background-image: url(../resc/mobileRight.png);
    }
}


@media screen and (orientation:landscape) {
    @font-face {
        font-family: PacMan;
        src: url("../PAC-FONT.TTF");
    }
    html, body {
        margin: 0;
        height: 100%;
        color: yellow;
        background-color: black;
        font-family: PacMan, serif;
        text-align: center;
    }

    .start {
        width: 100%;
        height: 100%;
        -webkit-background-size:cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: black url("../resc/mLandscape.png") no-repeat center;
        position: fixed;
        font-weight: bold;
        text-align: center;
    }

    .start.close {
        display: none;
    }

    #startText {
        display: none;
        position: absolute;
        width: auto;
        margin: 0 auto;
        left: 45%;
        bottom: 25%;
        letter-spacing: 3px;
        font-family: PacMan, serif;
        font-size: 2rem;
    }

    #startButton {
        position: absolute;
        border: 5px solid yellow;
        border-radius: 20px;
        padding: 2px 2px 2px 2px;
        cursor: pointer;
        width: 150px;
        margin: 0 auto;
        left: 40%;
        bottom: 50%;
        font-size: 2rem;
    }
    #backbutton{
        margin-left:auto;
        margin-right:auto;
    }
    #navigation{
        border: 5px solid yellow;
        color:yellow;
        font-family: PacMan, serif;
        border-radius: 20px;
        padding: 3px 3px 3px 3px;
        cursor: pointer;  width: 200px;
        font-size: 2rem;
        margin-top: 10%;
    }
    h1 {
        font-family: PacMan, serif;
    }
    h2 {
        font-family: PacMan, serif;
        margin-bottom: 2%;
    }
    p{
        font-family: "Calibri Light", serif;
        margin-bottom: 4%;
    }
    #footer, .header, .messages, #nextLevel {
        display: none;
    }

    #overlay:empty {
        display: none;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        background-color: rgba(0, 0, 0, 0.50);
        text-align: center;
        color: red;
        font-family: PacMan, serif;
        font-weight: bold;
        font-size: 3rem;
        z-index: +3;
    }

    span {
        margin-top: 20%;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .game.show {
        display: block
    }

    .game {
        position: fixed;
        height: 100%;
        margin: 0 auto;
        display: block;
    }

    #labyrinth td {
        width: 16px;
        height: 16px;
        background: black no-repeat;
        background-size: 16px 16px;
    }

    #labyrinth {
        border-collapse: separate;
        border: 5px solid yellow;
        float:left;
    }

    #information {
        border-collapse: separate;
        border: 5px solid yellow;
        font-family: PacMan, serif;
        font-size: 2rem;
        float:left;
    }
    #information td {
        background-color: black;
        width: 15%;
    }
    #value1, #value2, #value3 {
        font-family: "Calibri Light", serif;
    }

    #keylayout {
        margin-right: auto;
        margin-left: auto;
    }
    #keyless{
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 142;
        margin-left:auto;
        margin-right:auto;
    }

    #klcontrols{
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }
    #klcontrols td {
        background-color: rgba(255, 0, 0, 0.7);
        height:150px;
        width: 200px;
    }
    .klUp, .klDown{
        width: 200px;
    }
    #klRight, #klLeft{
        width: 200px;
    }
    .mobile {
        position:fixed;
        height: 0;
        right: 5%;
        top: 5%;
        display: block;
    }

    .mobile td {
        background-color: black;
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: 80px 80px;
    }

    .mobileBlank {
        background-image: url(../resc/mobileBlank.png);
    }

    #mobileUp {
        background-image: url(../resc/mobileUp.png);
    }

    #mobileDown {
        background-image: url(../resc/mobileDown.png);
    }

    #mobileLeft {
        background-image: url(../resc/mobileLeft.png);
    }

    #mobileRight {
        background-image: url(../resc/mobileRight.png);
    }
}