* {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.66);
}

/* Overlays */

#warningoverlay:empty, #overlay:empty {
  display: none;
}

#warningoverlay {
  color: white;
  text-align: center;
  font-size: 12px;
  background-color: firebrick;
  padding: 20px;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.50);
  height: 100%;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 0px 0px 100px 0px;
}

h1 { 
  font-size: 2rem; 
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

a { 
  text-decoration: none; 
  font-style: italic; 
  color: white; 
  font-weight: normal;
}

/* Game controls */

#welcome, #message, #controls {
  margin: 50px 0px 50px 0px;
}

#message #gameover:empty { visibilty: hidden; }
#message #reasons:empty { visibilty: hidden; }

#message #gameover {
  font-size: 5rem;
  color: yellow;
  text-align: center
}

#message #reasons {
  font-size: 2rem;
  color: white;
  text-align: center;
}

#highscoreform {
  margin: 40px;
  background: rgba(255, 255, 255, 0.5);
}

#highscoreform input {
  color: white;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.5);
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

#highscorewarning {
  background: lightpink;
  color: darkred;
  padding: 50px;
}

#highscorewarning:empty {
  display: none;
}

#scorelist:empty {
  display: none;
}

#scorelist {
  padding: 20px;
  color: white;
  margin: 20px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 10px;
  background: rgba(1,1,1,0.1);
}

#scorelist ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
}

#scorelist li {
  font-size: 1.1em;
  margin: 0px 5px 5px 5px;
  padding: 5px;
  color: white;
  display: block;
  border-radius: 20px;
}

#scorelist li:nth-child(even) {
  background: rgba(1,1,1,0.25);
}

#scorelist li:nth-child(odd) {
  background: rgba(1,1,1,0.5);
}

input::-webkit-input-placeholder { color: lightgray; font-style: italic; }
input::-moz-placeholder { color: lightgray; font-style: italic; }

button {
  color: white;
  border: 1px solid white;
  background: green;
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

button.discard {
  background: red;
}


#controls #level:empty { visibility: hidden; }
#controls #points:empty { visibility: hidden; }

#welcome #start, #controls #points, #controls #level {
  padding: 5px 20px 5px 20px;
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  border-radius: 5px;
}

/* Spielbrett */
body {
  background-color: black;
}

#snakegame {
  margin: 50px auto 50px auto;
  background-image: url('img/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-collapse: collapse;
}

#snakegame td {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(255,255,255,0.25);
  /*background: rgba(0, 0, 0, 0.5);*/
}

.mouse {
  background-color: gold !important;
  border-radius: 10px;
}

.snake {
  background-color: greenyellow !important;
  border-radius: 10px;
}