@font-face {
    font-family: PacMan; /*a name to be used later*/
    src: url("PAC-FONT.TTF"); /*URL to font*/
}

html, body {
    margin: 0;
    height: 100%;
    color: yellow;
    background-color: black;
    font-family: PacMan, serif;
    text-align: center;
}

.start {
    width: 100%;
    height: 100%;
    background-image: url("resc/PacBack.png");
    background-color: black;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    font-weight: bold;
    text-align: center;
}
.start.close { display: none;
}

#startText {
    position:absolute;
    width: auto;
    margin: 0 auto;
    left: 45%;
    bottom: 25%;
    letter-spacing: 3px;
    font-family: PacMan;
    font-size: 2rem;
}

#startButton {
    position: absolute;
    border: 5px solid yellow;
    color:yellow;
    border-radius: 20px;
    padding: 3px 3px 3px 3px;
    cursor: pointer;  width: 200px;
    margin: 0 auto;
    left: 50%;
    bottom: 5%;
    font-size: 2rem;
}